@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body,
input::placeholder {
  font-family: "Rubik", sans-serif;
}

.displayed--information--container {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

span,
.errormsg {
  color: hsl(345.98, 96.83%, 49.41%);
}

@media (min-width: 300px) {
  .displayed--information--container > div {
    width: 100%;
  }
}

@media (min-width: 976px) {
  .displayed--information--container > div {
    width: calc(100% / 4);
  }
}
